.container {
  position: bottom;
  min-height: 400px;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 60px 60px 30px;
  padding-bottom: 0;
}

.heading {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 500;
}
.para {
  color: #fff;
  font-size: 18px;
  line-height: 2;
  font-weight: normal;
}

.contentholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 60px;
}

.container a {
  line-height: 1.5;
  cursor: pointer;
  color: white;
  text-decoration: none;
  line-height: 2;
  display: inline-block;
  font-size: 18px;
}

.container a:hover {
  color: #f9d633;
  transition: color 300ms;
}

.logo {
  width: 140px;
  margin-bottom: 40px;
}

.contentholder p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 2;
  font-weight: normal;
}

.copyright {
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: center;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 0;
}
.linkholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .container {
    padding: 20px 25px;
    align-items: flex-start;
  }
  .contentholder {
    flex-direction: column !important;
  }
  .heading {
    padding-top: 20px;
  }
  .linkholder {
    flex-direction: column;
  }
  .copyright {
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .container {
    padding: 50px 30px 20px;
  }
  .contentholder {
    flex-direction: column;
    align-items: center;
  }
  .linkholder {
    margin-top: 20px;
    width: 100%;
    align-items: stretch;
  }
  .logo {
    max-width: 88px;
  }
}
@media (max-width: 1920px) {
  .contentholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .linkholder {
    min-width: 80%;
    padding-left: 40px;
  }
}
